* {
    margin: 0px;
    padding: 0px;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* HEADER CSS */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    position: sticky;
    top: 0px;
    background-color: white;
}

.logo{
    display: flex;
    gap: 10px;
    align-items: center;
}

.box{
    width: 20px;
    height: 20px;
    background-color: blue;
}

.navigation ul{
    display: flex;
    gap: 20px;
}

.navigation ul li{
    list-style: none;
    font-size: 1.2rem;
}

.navigation ul li a{
    text-decoration: none;
    color: black;
}

.navigation ul li a:hover{
    color: blue;
}

/* SECTION CSS */
section{
    width: 100%;
    height: 1000px;
    background-color: beige;
}

/* FOOTER CSS */
footer{
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
}

.right-footer{
    width: 60%;
    display: flex;
    justify-content: space-around;
    
}

.call,.write,.follow{
    text-align: center;
}